@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: black;
}

.main{
    background-image: url(assests/Images/bg.jpg);
    height: 78vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}

.main .box{
    height: 78vh;
    width: 100%;
    opacity: 0.75;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav img{
    cursor: pointer;
    color: red;
    width: 75px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Martel Sans', sans-serif;
    position: relative;
    height: calc(100% - 50px);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 10px;
    padding: 0 30px;
}

.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 25px;
    text-align:center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 13px;
    text-align:center;
    
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 10px;
    text-align:center;
    
}

.sepration{
    height: 3px;
    background-color: rgb(60, 59, 59);
}

.btn{
    padding: 3px 8px;
    background-color:rgba(248, 243, 243, 0.021);
    color: white;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;
}

.btn-red{
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 5px 12px;
    border: none;
    outline: 0.5 px;
    font-weight: 400;
}


.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    outline: none;
}

.main input{
    padding: 5px 12px;
    outline: none;
    background-color: rgba(23,23,23,0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);  /* or border: none; */
    color: white;
    box-shadow: 0 0 1.5px gray;
    font-size: 12px;
    border-radius: 4px;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 50vw;
    margin: auto;
    color: white;
    align-items: center;
    font-size: 12px;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 30vw;
    z-index: 10;
    position: relative;
}

.secImg video {
    position: absolute;
    top: 14%;
    left: 13%;
    width: 74%;
    height: 72%;
    object-fit: cover;
}

section.first > div{
    display: flex;
    flex-direction: column;
}


.first > div :first-child{
    font-size: 16px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size: 6px;
    font-weight: bolder;
}

.faq{
    background-color: black;
    color: white;
    justify-content: center;
    justify-items: center;
    padding: 4px;
}


.faq h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 42px;
}

.faqbox{
    display: flex;
    /* font-size: 15px; */
    background-color: rgb(43, 43, 43);
    justify-content: space-between;
    /* justify-items: center; */
    width: 60vw;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}
